<html>
  <head>
    <title>CLC Badge Puzzle Game</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index.umd.js"></script>
    <style type="text/css">
        body {
          margin:25px 100px;
        }
      </style>
    <script type="text/javascript">

      let fireworks_active = false;

      function start_fireworks() {
		if (!fireworks_active) {
			fireworks_active = true;
			container = $("<div style='width:100%;height:100%; position:absolute;top:0px; left:0px;z-index:-1;' id='fireworks_container'></div>");
			$("body").append(container);
			setTimeout(function() {
				let container = document.querySelector("#fireworks_container");
				const fireworks = new Fireworks.default(container)
				fireworks.start();
			}, 500);
		}
	}
      $(function() {
        let token = localStorage.getItem("badge_token");
        if (!token) {
          window.location = "/";
        }
      });
      function handle_form() {
        let token = localStorage.getItem("badge_token");
        let serial = $("#serial_field").val();
        $('<form action="/puzzle/'+token+'" method="POST"><input type="hidden" name="serial" value="'+serial+'" /></form>').appendTo('body').submit();

      }
    </script>
  </head>
  <body>
	<h1>CLC Badge Puzzle Game</h1>
    <p class="med-text">
        There are five levels of puzzles associated with the CLC badge competition.
    </p>
        {% if level0 is not defined %}
        <p class="med-text">For the first level, enter your NFC badge serial number here:
        
        <form method="POST" onsubmit="return false;">
            <input type="text" name="serial" id="serial_field" value="" />
            <input type="submit" value="submit" onclick="javascript:handle_form(); return false;" />
        </form>
        </p>
        {% else %}
            You solved the first level. <br />
        

        {% if level1 is not defined %}
        <p class="med-text">
        Poke around to find the second level. Submit your flag here.
        
        <!--

            What was the last name of the superintendent of the Naval Academy
            when the following text was sent in an email?

            "Fifth: we need to be better at cyber."

            Submit the last name, all lowercase. 

            If you can't find it, some articles may reference an old bloomberg article.
            You may need to use the wayback machine.

        -->

        <form method="POST" >
            <input type="text" name="flag1" id="flag1" value="" />
            <input type="submit" value="submit" />
        </form>
        </p>
        {% else %}
            You solved the second level. <br />
        {% if level2 is not defined %}
        <p class="med-text">
        Find the flag.

        <pre>{% include 'level2/'+token %}</pre>
        
        <form method="POST">
            <input type="text" name="flag2" id="flag2" value="" />
            <input type="submit" value="submit" />
        </form>
        </p>
        {% else %}
            You solved the third level. <br />

        {% if level3 is not defined %}
        <p class="med-text">
        <a href="/static/level3/{{ token }}" target="_blank">find the flag</a> <br />

        <br />
        Hint: <pre>objdump -D -b binary -m i386:x86-64 -Mx86-64 myfile</pre>
        <br />
        <a href="https://nathanotterness.com/2021/10/tiny_elf_modernized.html">How is this ELF so small???</a>
        <br />
        <br />
        
        <form method="POST">
            <input type="text" name="flag3" id="flag3" value="" />
            <input type="submit" value="submit" />
        </form>
        </p>
        {% else %}
            You solved the fourth level. <br />
        
        {% if level4 is not defined %}
        <p class="med-text">        
        <a href="/static/level4/{{ token }}" target="_blanK">find the flag</a> (it's different this time) <br />
        <form method="POST">
            <input type="text" name="flag4" id="flag4" value="" />
            <input type="submit" value="submit" />
        </form>
        </p>
        {% else %}
            You have solved the fifth level! <br />
            <script type="text/javascript">
                localStorage.setItem("fireworks", 1);
                start_fireworks();
            </script>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
  </body>
</html>

